# Ignore node_modules folder
node_modules/

# Ignore environment variables file (for sensitive information)
.env

# Ignore log files
*.log

# Ignore build directories (if any)
build/
dist/

# Ignore IDE/editor specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
